<html>
<head>
</head>
<body>
{% with message = get_flashed_messages() %}
{% if message %}
{{ message[0] }}
{% endif %}
{% endwith %}
<form action="/post" method="POST">
  <h1>Welcome {{ username }}</h1> 
  Wanna post a photo? <br>
  Address of the photo: 
  <input type="text" name = "photoPath" placeholder="Address of the photo" required/> <br>
  Caption:             
  <input type="text" name = "caption" placeholder="Why did the chicken cross the road?" required/> <br>
  Post to all followers? <br>
  Yes
  <input type="radio" name="allFollow" value="1"> <br>
  No
  <input type="radio" name="allFollow" value="0" checked> <br>
If no, enter a comma separated list of the groups you want to post it to:
  <input type="text" name = "groupList" placeholder="List of groups"/><br>
	<input type="submit" value = Post />
</form>

<form action="/createGroup" method="POST">
 Create group <br>
  Name of the group: 
  <input type="text" name = "groupName" placeholder="Name of the group" required/><br> 
  Description:      
  <input type="text" name = "description" placeholder="Description" required/><br>
	<input type="submit" value = Create />
</form>

<form action="/addUserToGroup" method="POST">
    Add friends to a group you own <br>
    Group:
    <input type="text" name = "groupName" placeholder="Group" required/><br>
    User that follows you:
    <input type="text" name = "user" placeholder="User" required/><br>
    <input type="submit" value = Submit />
    {% with message = get_flashed_messages() %}
      {% if message %}
        {{ message[0] }}
      {% endif %}
      {% endwith %}
</form>

Groups you belong to: <br>
{% if groups %}
{% for group in groups %}
{{ group[0] }}<br>
{% endfor %}
<br>

{% else %}
You have none. What a loser<br><br>

{% endif %}

<style>
    div.container {
      display:inline-block;
    }
</style>

Follow Requests:<br>
{% if followers %}

{% for follower in followers %}
{{ follower[0] }}

<!-- <div class="container"> -->

    <form action="/followRequest?follower={{ follower[0] }}&fs=1" method="POST"> 
    <input type="submit" value = "Accept"/> </form>

    <form action="/followRequest?follower={{ follower[0] }}&fs=0" method="POST"> 
    <input type="submit" value = "Deny" /> </form>
<!-- </div> -->
<br>
{% endfor %}

{% else %}
No one likes you <br><br>

{%endif %}

Your tag requests: <br>
{% if tagRequests %}
{%for request in tagRequests %}
PhotoID: {{ request[0] }}<br>
<form action="/tagRequest?pid={{ request[0] }}&ts=1" method="POST"> 
  <input type="submit" value = "Accept"/> </form>

  <form action="/tagRequest?pid={{ request[0] }}&ts=0" method="POST"> 
  <input type="submit" value = "Deny" /> </form>
{% endfor %}
<br>

{% else %}
You have none. What a loser<br><br>

{% endif %}

<form action="/follow" method="POST"> 
  Username of person you want to follow: 
  <input type="text" name = "followed" placeholder="Username" required/>  
	<input type="submit" value = Follow />
</form>

<form action="/search" method="POST">
    Search for User:
    <input type="text" name="searchUser" placeholder="Username" required/>
        <input type="submit" value = Search />

</form>

<br>Here are your photos:<br>
    <meta charset=utf-8 />
    <style>
      div.container {
        display:inline-block;
      }
  
      p {
        text-align:center;
      }
    </style>
  </head>

    {% for photo in photoData %}
    <div class="container">
       Posted by: {{ photo[2] }} <br>
       PhotoID: {{ photo[3] }} <br>

       <a href="/photoDetails?id={{photo[3]}}">
        <img src= "{{ photo[0] }}" alt="photo.png" width="450" height="333">
        <form action="/like?username={{ username }}" method="POST"></form></a>  
    Caption: {{ photo[1] }}<br><br>
    <form action="/tag?id={{photo[3]}}" method="POST">
      Tag:
      <input type="text" name = "toTag" placeholder="Person to be tagged" required/>
      <input type="submit" value = Tag />
      {% with message = get_flashed_messages() %}
      {% if message %}
        {{ message[0] }}
      {% endif %}
      {% endwith %}
    </form>

    <form action="/like?id={{photo[3]}}" method="POST">
      Like:
      <input type="text" name = "likeVal" placeholder="Rating out of 10" required/>
      <input type="submit" value = Like />
    </form>

    </div>
    {% endfor %}


<br>
<a href="/logout">Logout</a>

</body>


</html>