<html>
<head>
</head>
<body>
<form action="/post" method="POST">
  <h1>Welcome {{username}}</h1> 
  Address of the photo: 
  <input type="text" name = "photoPath" placeholder="Address of the photo" required/> <br> <br>
  Caption:             
  <input type="text" name = "caption" placeholder="Why did the chicken cross the road?" required/> <br>
  Post to all followers?
  <input type="radio" name="allFollow" value="1"> <br>
	<input type="submit" value = Post />
</form>

<br>Here are your photos:<br>
<body>
    {% for photo in filePath %}
       Posted by: {{photo[2]}} <br>
       PhotoID: {{photo[3]}} <br>
    <img src= "{{photo[0]}}" alt="mirror.png" width="500" height="333">
    <br> Caption: {{photo[1]}}<br><br>
    {% endfor %}
  </body>

<br>
<a href="/logout">Logout</a>

</body>


</html>