<html>
<head>
</head>
<body>
<form action="/post" method="POST">
    <h1>Welcome {{username}}</h1> 
    <input type="text" name = "blog" placeholder="post" required/> </br>
    <input type="submit" value = Post />
</form>

<style type="text/css">
</style>

Here are your photos:<br>
<body>
    {% for photo in filePath %}
    <img src= "{{photo[0]}}" alt="mirror.png" width="500" height="333">
    <br> Caption: {{photo[1]}}<br><br>
    {% endfor %}
  </body>

<br>
<a href="/">Logout</a>

</body>


</html>